/* CSS Document */
.MainMenuCtrl {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 800px;
  height: 420px;
  overflow: hidden;
  -o-transition-property: left;
  -o-transition-duration: .15s;
  -o-transition-timing-function: ease-in;
  -o-transition-delay: 0;
  -o-transform-origin: top left; }

.MainMenuCtrlEllipse {
  position: absolute;
  left: 0px;
  top: 193px;
  width: 800px;
  height: 304px;
  background: url(../images/Ellipse.png);
  background-repeat: no-repeat; }

.MainMenuCtrlIconName {
  position: absolute;
  top: 337px;
  left: 108px;
  width: 586px;
  height: 51px;
  text-align: center;
  line-height: 51px;
  font-family: "Tipperary", Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: white;
  opacity: 0;
  -o-transition: opacity 200ms linear; }
  .MainMenuCtrlIconName.Visible {
    opacity: 1; }

.MainMenuCtrlCoinAExplode {
  animation-name: mainMenuCtrlCoinAExplode;
  animation-duration: 300ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards; }

@keyframes mainMenuCtrlCoinAExplode {
  0% { }
  100% {
    -o-transform: scale(5, 5);
    z-index: 1; } }

.MainMenuCtrlCoinBExplode {
  animation-name: mainMenuCtrlCoinBExplode;
  animation-duration: 300ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards; }

@keyframes mainMenuCtrlCoinBExplode {
  0% { }
  100% {
    -o-transform: scale(4, 4);
    z-index: 1; } }

.MainMenuCtrlHighlightExplode {
  animation-name: mainMenuCtrlHighlightExplode;
  animation-duration: 300ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards; }

@keyframes mainMenuCtrlHighlightExplode {
  0% { }
  100% {
    -o-transform: scale(2.5, 2.5);
    left: 159.5px;
    top: 59px; } }

.MainMenuCtrlAppDiv {
  position: absolute;
  left: 130px;
  top: 56px;
  width: 120px;
  height: 120px;
  -o-transition: 0.2s linear; }

/*.MainMenuCtrlAppNormal {
  position: absolute;
  left: 0px;
  top: 0px;
  width: $coinAWidth;
  height: $coinAHeight;
  background: url(../images/coins/HomeApps.png);
  background-repeat: no-repeat;
  -o-transition: opacity 0.2s linear; 
}*/
.MainMenuCtrlAppFocus {
  position: absolute;
  left: -111px;
  top: -50px;
  width: 434px;
  height: 224px;
  background: url(../images/coins/HomeApps_Focus.png);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0;
  -o-transition: opacity 0.2s linear; }

div.MainMenuCtrlCoinFocus .MainMenuCtrlAppFocus {
  opacity: 1; }

.MainMenuCtrlEntDiv {
  position: absolute;
  left: 215px;
  top: 26px;
  width: 120px;
  height: 120px;
  -o-transition: 0.2s linear; }

/*.MainMenuCtrlEntNormal {
  position: absolute;
  left: 0px;
  top: 0px;
  width: $coinAWidth;
  height: $coinAHeight;
  background: url(../images/coins/HomeAudio.png);
  background-repeat: no-repeat;
  -o-transition: opacity 0.2s linear; 
}*/
.MainMenuCtrlEntFocus {
  position: absolute;
  left: -178px;
  top: -32px;
  width: 503px;
  height: 202px;
  background: url(../images/coins/HomeAudio_Focus.png);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0;
  -o-transition: opacity 0.2s linear; }

div.MainMenuCtrlCoinFocus .MainMenuCtrlEntFocus {
  opacity: 1; }

.MainMenuCtrlComDiv {
  position: absolute;
  left: 270px;
  top: 146px;
  width: 142px;
  height: 152px;
  -o-transition: 0.2s linear; }

/*.MainMenuCtrlComNormal {
  position: absolute;
  left: 0px;
  top: 0px;
  width: $coinBWidth;
  height: $coinBHeight;
  background: url(../images/coins/HomeCom.png);
  background-repeat: no-repeat;
  -o-transition: opacity 0.2s linear; 
}*/
.MainMenuCtrlComFocus {
  position: absolute;
  left: -243px;
  top: -87px;
  width: 631px;
  height: 307px;
  background: url(../images/coins/HomeCom_Focus.png);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0;
  -o-transition: opacity 0.2s linear; }

div.MainMenuCtrlCoinFocus .MainMenuCtrlComFocus {
  opacity: 1; }

.MainMenuCtrlNavDiv {
  position: absolute;
  left: 360px;
  top: 16px;
  width: 120px;
  height: 120px;
  -o-transition: 0.2s linear; }

/*.MainMenuCtrlNavNormal {
  position: absolute;
  left: 0px;
  top: 0px;
  width: $coinAWidth;
  height: $coinAHeight;
  background: url(../images/coins/HomeNav.png);
  background-repeat: no-repeat;
  -o-transition: opacity 0.2s linear; 
}*/
.MainMenuCtrlNavFocus {
  position: absolute;
  left: -195px;
  top: -37px;
  width: 532px;
  height: 225px;
  background: url(../images/coins/HomeNav_Focus.png);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0;
  -o-transition: opacity 0.2s linear; }

div.MainMenuCtrlCoinFocus .MainMenuCtrlNavFocus {
  opacity: 1; }

.MainMenuCtrlSetDiv {
  position: absolute;
  left: 480px;
  top: 46px;
  width: 120px;
  height: 120px;
  -o-transition: 0.2s linear; }

/*.MainMenuCtrlSetNormal {
  position: absolute;
  left: 0px;
  top: 0px;
  width: $coinAWidth;
  height: $coinAHeight;
  background: url(../images/coins/HomeSet.png);
  background-repeat: no-repeat;
  -o-transition: opacity 0.2s linear; 
}*/
.MainMenuCtrlSetFocus {
  position: absolute;
  left: -186px;
  top: -26px;
  width: 491px;
  height: 182px;
  background: url(../images/coins/HomeSet_Focus.png);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0;
  -o-transition: opacity 0.2s linear; }

div.MainMenuCtrlCoinFocus .MainMenuCtrlSetFocus {
  opacity: 1; }

/*
@mixin highlightCommon {
  opacity: 0;
  -o-transition: opacity 200ms linear;
  width: $glowWidth;
  height: $glowHeight;
  background: url(../images/highlights/Glow.png);
  background-repeat: no-repeat;
  position: absolute;

  &.Visible {
    opacity: 1;
  }
}

.MainMenuCtrlAppHighlight {
  @include highlightCommon;
  left: $appLeft + $coinAFocusTranslateX + $coinAWidth / 2 - $glowWidth / 2;
  top: $appTop + $coinAFocusTranslateY + $coinAHeight - $glowHeight + $glowBottomOffset;
}

.MainMenuCtrlEntHighlight {
  @include highlightCommon;
  left: $entLeft + $coinBWidth / 2 + $coinBFocusTranslateX - $glowWidth / 2;
  top: $entTop + $coinBFocusTranslateY + $coinBHeight - $glowHeight + $glowBottomOffset;
}

.MainMenuCtrlComHighlight {
  @include highlightCommon;
  left: $comLeft + $coinBWidth / 2 + $coinBFocusTranslateX - $glowWidth / 2;
  top: $comTop + $coinBFocusTranslateY + $coinBHeight - $glowHeight + $glowBottomOffset;
}

.MainMenuCtrlNavHighlight {
  @include highlightCommon;
  left: $navLeft + $coinBWidth / 2 + $coinBFocusTranslateX - $glowWidth / 2;
  top: $navTop + $coinBFocusTranslateY + $coinBHeight - $glowHeight + $glowBottomOffset;
}

.MainMenuCtrlSetHighlight {
  @include highlightCommon;
  left: $setLeft + $coinAWidth / 2 - $coinAFocusTranslateX - $glowWidth / 2;
  top: $setTop + $coinAFocusTranslateY + $coinAHeight - $glowHeight + $glowBottomOffset;
}
*/
